[package]
name = "tokio-socks"
description = "Asynchronous SOCKS proxy support for Rust."
documentation = "https://docs.rs/tokio-socks"
homepage = "https://github.com/sticnarf/tokio-socks"
repository = "https://github.com/sticnarf/tokio-socks"
readme = "README.md"
categories = ["asynchronous", "network-programming"]
keywords = ["tokio", "async", "proxy", "socks", "socks5"]
license = "MIT"
version = "0.1.2"
authors = ["Yilin Chen <sticnarf@gmail.com>"]
edition = "2018"

[badges]
travis-ci = { repository = "sticnarf/tokio-socks" }

[dependencies]
futures = "0.1"
tokio-tcp = "0.1"
tokio-udp = "0.1"
tokio-io = "0.1"
bytes = "0.4"
failure = "0.1"
derefable = "0.1"
either = "1"

[dev-dependencies]
hyper = "0.12"
tokio = "0.1"
once_cell = "0.1"